# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

### Firebase ###
.idea
**/node_modules/*
**/.firebaserc
*/npm-debug.log
lerna-debug.log
*~
service-account-credentials.json
**/package-lock.json
.npm
.tmp
.vscode/
coverage
firebase-functions-*.tgz
integration_test/.firebaserc
integration_test/*.log
integration_test/functions/firebase-functions.tgz
integration_test/functions/package.json
lib
node_modules
npm-debug.log
typings
yarn.lock

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
