.book-container {
    padding: 2px 16px;
    color: black;
    font-size: 12px;
    font-weight: 4px;
    text-align: center;
}
.book-card {
    display: inline-block;
    margin: 10px;
    width: 200px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    max-width: 250px;
}
.book-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    cursor: pointer;
}
.book-img {
    padding: 10px;
    max-width: 150px;
    display:block;
    margin: auto;
}
.book-info {
    background-color: lightgray;
    color: black;
    font-size: 12px;
    font-weight: 4px;
}
a:hover + .book-info {
    display: block;
}
@keyframes MyAnimation {
    0% {
        opacity: 0.7;
        margin-left: 10%;
        transform: scale(1.025);
    }
    100% {
        opacity: 1;
        margin-left: 10px;
        transform: scale(1);
    }
}
.my-animation {
    animation: MyAnimation 1s;
}

.hidden{
    display:none;
}
.show{
    display:block;
    margin-bottom: 40px;
}

#modal-container {
    position:absolute;
    min-height: 300px;
    left:20%;top:20%;
    width: 60%;
    max-width: 1000px;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    z-index: 100;
    border-radius: 3px;
}

#overlay {
    opacity:0.2;
    filter: alpha(opacity=20);
    background-color:#000; 
    width:100%; 
    height:100%; 
    z-index:10;
    top:0; 
    left:0; 
    position:fixed;
}