<div class="pager-container" *ngIf="searchFinish">
    <ul class="pager-list" *ngFor="let page of pager; let i=index">
      <a class="pager-item" 
         *ngIf="actualPage+i != 0 && page.num != totalPages"
         (click)="getPage(page.num)"
         [ngClass]="{'selected-page': page.num == actualPage}">{{page.num}}</a>
    </ul>
    <ul class="pager-list">
        <a class="pager-item" style="cursor: default">...</a>
    </ul>
    <ul class="pager-list">
        <a class="pager-item" 
          *ngIf="actualPage+i-1 != 0" 
          (click)="getPage(totalPages)">{{totalPages}}</a>
    </ul>
</div>
