<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">

<div class="sample-container animated">
  <div class="sample-text">
    <h3>{{modalService.book.title}}</h3>
    <hr/>
    <div class="pop-thumb">
        <img align="left" class="book-img" src="{{modalService.book.thumbnail}}" (click)="redirectTo(modalService.book.infoLink)" alt="{{modalService.book.title}} cover">
        <button class="info-button" (click)="redirectTo(modalService.book.infoLink)"><i class="fas fa-plus"></i> Info</button>
    </div>
    <div class="right-text">
      <ul>
          <h6>Subtitle:</h6>
          <p class="sample-text-small">{{modalService.book.subTitle}}</p>
          <h6>Authors: </h6>
          <p class="sample-text-small">{{modalService.book.authors}}</p>
          <h6>Publisher: </h6>
          <p class="sample-text-small">{{modalService.book.publisher}}</p>
          <h6>Published Date: </h6>
          <p class="sample-text-small">{{modalService.book.publishDate}}</p>
          <h6>Categories: </h6>
          <p class="sample-text-small category" *ngFor="let item of modalService.book.categories">{{item}}</p>
          <h6>Description: </h6>
          <p class="sample-text-small">{{modalService.book.description}}</p>
        </ul>
    </div>
  </div>
  <div class="sample-close">
    <i class="far fa-times-circle close-icon" (click)="close()"></i>
  </div>
  <div class="sample-add">
    <a class="fa-lg add-icon" 
    (click)="addToLibrary(modalService.book)"
    [ngClass]="{'hovered-add-icon': hovering, 'fas fa-plus-circle': !hovering}"
    (mouseenter) = "hovering = true"
    (mouseleave) = "hovering = false"> <p class="small-txt" *ngIf="hovering">Add Book <i style="margin-left: 2px" class="fas fa-angle-right"></i></p> </a>
  </div>
  <div class="added-message" *ngIf="contains(modalService.book)">
    <p class="small-txt" (click)="removeFromLibrary(modalService.book)">Remove from Library</p>
  </div>
</div>