h3, h5 {
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  padding: 5px;
}
h6:first-of-type {
  margin: 40px auto auto auto;
}
h6 {
  margin: auto auto auto auto;
}
.sample-container{
    display:grid;
    grid-template-columns: 1fr;
    border-radius: 3px;
    overflow: auto;
    margin-bottom: 20px;
}
.sample-text{
  color: black;
  margin-top: 5px;
  font-size: 20px;
}
.sample-text-small{
  color: black;
  font-size: 14px;
}
.sample-close{
  text-align:center;
}
.sample-close button{
  border-radius: 50%;
  position: relative;
  float: right;
  top: -10px;
  right: -10px;
}
.info-button {
  display: inline-block;
  width: 100px;
  height: 25px;
  max-width: 300px;
  margin: auto;
  margin-left: 15%;
  margin-right: 10%;
  background-color: rgb(61, 90, 255);
  text-align: center;
  font-size: 14px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.info-button:hover {
  background-position: 0 -21px;
}
.sample-add{
  text-align:center;
}
.added-message{
  transition-timing-function: ease;
  transition-duration: 0.35s;
  position: absolute;
  top: 130px;
  left: 18px;
  height: 16px;
  padding: 4px;
  color: white;
  border-radius: 5px;
  background-color: rgb(200, 87, 87);
  z-index: 15;
}
.sample-add button{
  border-radius: 50%;
  position: relative;
  float: right;
  top: -10px;
  right: -10px;
}
.close-icon{
  position: absolute;
  top: 5px;
  right: 5px;
  color: black;
  z-index: 15;
  cursor: pointer;
}
.add-icon{
  transition-timing-function: ease;
  transition-duration: 0.35s;
  position: absolute;
  top: 185px;
  left: 30px;
  color: rgb(0, 200, 0);
  border-radius: 50%;
  background-color: whitesmoke;
  z-index: 15;
  cursor: pointer;
}
.hovered-add-icon{
  transition-timing-function: ease;
  transition-duration: 0.35s;
  top: 178px;
  width: 70px;
  height: 25px;
  left: 29px;
  background-color: rgb(0, 200, 0);
  border-radius: 2px;
  border: solid 2px green;
}
.box-close:before {
  content: "×";
}
.book-img {
  display:block;
  padding: 10px;
  min-width: 130px;
  width: 150px;
  max-width: 300px;
  margin: auto;
  margin-left: 5%;
  margin-top: 80px;
  cursor: pointer;
}
@keyframes MyAnimation {
  0% {
      transform: scale(1.025);
  }
  100% {
      transform: scale(1);
  }
}
.animated {
  animation: MyAnimation 1s;
}
.pop-thumb {
  float: left
}
.right-text {
  text-align: justify;
  margin-left: 275px;
  margin-right: 30px;
}
.category {
  padding: 4px;
  display: inline-block;
  color: white;
  background-color: black;
  border-radius: 15px;
  margin-right: 5px;
}
.category:hover {
  background-color: gray;
}
.small-txt {
  position: relative;
  top: -8px;
  font-size: 12px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
