<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">

<div class="container color-light">
  <div class="subtitle-section color-dark">
      <span class="subtitle">Search your eBook</span>
  </div>
  <div class="container-nav">
    <form #f="ngForm" class="form-inline" (ngSubmit)="doSearch()">
      <p>Introduce a book to start your search!</p>
      <div class="form-group">
        <input type="search"
               #searchBox 
               id="search-box" 
               (keyup)="search(searchBox.value, $event.keyCode)"
               class="form-control txt"
               placeholder="Search..."
               name="search"
               [(ngModel)]="term"
               value="{{inputContent}}"
               autocomplete="off"
               required
               />
      </div>
      <div id="autocomplete">
        <ul class="search-result" (clickOutside)="closeAutocomplete()">
          <li *ngFor="let book of books$ | async | slice:0:5" >
            <a (click)="specificSearch(book.title)">
              {{book.title}}
            </a>
          </li>
        </ul>
      </div>
      <button type="submit"
              class="btn btn-primary"
              [disabled]="!f.valid">
        Search
      </button>
      <button type="submit" class="btn" (click)="clearFilter()" style="background-color: rgb(255, 206, 116);">
        Clear Filter
      </button>
    </form>
  </div>
  <hr/>
  <div class="container-nav">
    <div class="text-center">
      <p class="lead" *ngIf="googleBooksService.loading">Loading <i class="fa fa-spinner fa-spin fa-fw"></i></p>
      <p class="lead" *ngIf="!googleBooksService.haveBooks">Sorry, no results found... :(</p>
      <p class="lead" *ngIf="googleBooksService.books?.length > 0">
        Found {{ googleBooksService.totalResults }} results in {{ googleBooksService.enlapsedTime }} sec.
      </p>
    </div>
  
    <!-- TODO: Show the results of the search -->
    <app-book-list></app-book-list>

    <div class="d-flex justify-content-center">
      <!-- TODO: Show pagnation -->
      <app-pager>
      </app-pager>
    </div>
  </div>
</div>